* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito', sans-serif;
  }

  :root {
    --oscuro: #2A2240;
    --rojo: #F00814;
    --celeste: #51d1f6;
    --dorado: gold;
    --coral: coral;
  }

  html {
	scroll-behavior: smooth;
	scroll-padding: 100px;
}

body{
    width: 100%;
    background-color: var(--oscuro)
}

.to-do-list {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--dorado);
}

.to-do-list img {
    width: 60px;
}

.flex-margin {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task {
    gap: 20px;

}

.input-task {
    background-color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px;
}

.input-task input {
    border: 0;
    outline: none;
    background-color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    color: var(--oscuro)
}

.input-task ::placeholder {
    color: var(--oscuro);
    font-weight: 500;
}

.input-task img {
    width: 20px;
}

.add-task button {
    font-size: 1.2rem;
    font-weight: 500;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--dorado);
    color: var(--oscuro)
}

.add-task button:hover {
    background-color: rgb(136, 238, 47);
    transition: 300ms;
}

.tasks-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    gap: 1rem;
}

.tasks-list li {
    background: white;
    border: 3px solid grey;
    color: var(--oscuro);
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.8rem 0.5rem;
    border-radius: 20px 0px;
    user-select: none;
}

.tasks-list img {
    width: 35px;
    cursor: pointer;
    background-color: var(--coral);
    border-radius: 5px;
    padding: 3px;
}

.tasks-list img:hover {
    transition: 300ms;
    background-color: var(--rojo);
}

.all-delete-btn{
    font-size: 1.5rem;
    font-weight: 500;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--dorado);
    color: var(--oscuro);
    margin-top: 50px;
}

.all-delete-btn:hover {
    background-color: var(--rojo);
    color: white;
    transition: 300ms;
}

.hidden {
    visibility: hidden;
  }

.footer-container p {
    color: var(--dorado);
    font-weight: bold;
}

.footer-container b {
    color: var(--celeste);
}

.footer-container b:hover {
    color: var(--dorado);
}

@media (max-width: 576px) {
    .to-do-list {
        font-size: 1.5rem;
        
    }
    
    .to-do-list img {
        width: 50px;
    }
    
    .flex-margin {
        margin-top: 20px;
    }
    
    .add-task {
        gap: 1.2rem;
    
    }
    
    .input-task {
        font-size: 1rem;
        padding: 3px;
    }
    
    .input-task input {
        font-size: 1rem;
    }
    
    .input-task img {
        width: 1rem;
    }
    
    .add-task button {
        font-size: 1rem;
        padding: 3px;
    }
    
    .tasks-list {
        margin-top: 30px;
        width: 320px;
    }
    
    .tasks-list li {
        font-size: 1rem;
        width: 100%;
    }
    
    .tasks-list img {
        width: 30px;
    }
    
    .all-delete-btn{
        font-size: 1.2rem;
        padding: 3px;
        margin-top: 30px;
    }
}